@font-face{
	src:url(../fonts/PlayfairDisplay-Regular.otf);
	font-family: PlayfairDisplay-Regular;
}
body{
	margin:0;
	padding: 0;
	font-family: playfairDisply-Regular;
}
.container{
	width: 90%;
	margin:0 auto;
	overflow: hidden;
}
/*******Header Part Start*****/
header{
	padding: 70px 0;
}
.logo{
	width: 10%;
	margin-top: 10px;
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	width: 80%;
	float: right;
}
.menu ul {
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;

}
.menu ul li a{
	padding: 0 68px;
	text-decoration: none;
	font-family: PlayfairDisplay-Regular;
	text-transform: uppercase;
	font-size: 16px;
	color:#626262;
}
.menu ul li:last-child a{
	padding-right: 0;
}
/*******Header Part End*****/

/*******Banner Part Start*****/
.banner{
	margin-bottom: 50px;
	width: 100%;
	height: 550px;
	background: url(../images/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
}

/*******Banner Part End*****/
.wrapper{
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
}
/******photodiary Part Start*****/
.photodiary{
	padding: 50px 0 70px;
}
.wrapper h3{
	margin-bottom: 35px;
	font-size: 18px;
	color:#b4ad9e;
	text-transform: uppercase;
}
.wrapper h1{
	margin-bottom: 40px;
	font-size: 30px;
	font-weight: 300;
	color: #626262;
}
.wrapper p{
	margin-bottom: 40px;
	font-size: 17px;
	text-align: left;
	color: #626262;
	line-height: 24px;
}
.wrapper h4{
	font-size: 18px;
	text-transform: uppercase;
	color: #c8c3b9;
	line-height: 24px;
	font-weight: 300;
}
/******photodiary Part End*****/

/*****LifeStyle Part Start*****/
.lifestyle{
	padding: 70px 0;

}
.li-content{
	margin-bottom: 70px;
	width: 46%;
	float: left;
}
.li-content .img{
	margin-bottom: 30px;
	width: 100%;
	height: 280px;
}
.li-content .img img{
	width: 100%;
	height: 100%;
}

.life{
	float: right;
}
.li-content h2{
	margin: 15px 0 ;
	font-size: 30px;
	color: #626262;
	font-weight: 300;
}
.li-content h4{
	margin:15px 0;
	font-size: 18px;
	text-transform: uppercase;
	color: #c8c3b9;
	line-height: 24px;
	font-weight: 300;
}
.li-content p{
	font-size: 17px;
	font-weight: 300;
	line-height: 24px;
	color:#626262;
	text-align: justify;
}

/*****LifeStyle Part End*****/

/*****Newslatter Part Start*****/

.newslatter{
	padding: 75px 0;
	background: #f0f0f0;
}
.news-content{
	width: 50%;
	margin:0 auto;
	text-align: center;
}
.news-content input{
	width: 380px;
	padding: 8px 10px;
	background: #f0f0f0;
	border: none;
	border-bottom: 1px solid black;
}
.news-content h1{
	margin-bottom: 80px;
	font-weight: 300;
	font-size: 35px;
}
.news-content img{
	position: relative;
	right: 35px;
	top:5px;
}

/*****Newslatter Part Start*****/
.button{
	width: 30%;
	margin:0 auto;
	padding-bottom: 190px;
	text-align: center;
}
.button button{ 
	width: 165px;
	padding: 20px 15px;
	font-family:playfairDisply-Regular;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	background: white;
	color:#626262;
	border: 1px solid black;
	transition: all .5s ease;
}

.button button:hover{
	background: #f0f0f0;
	color:#626262;
	cursor: pointer;
}

/********Footer Menu Start*****/
footer{
	padding: 25px 0;
	background: #F0F0F0;
}
.f-menu{
	width: 50%;
	float: left;
}
.f-menu ul li{
	list-style: none;
	float: left;

}
.f-menu ul li a{
	padding: 0 10px;
	text-decoration: none;
	font-family: PlayfairDisplay-Regular;
	text-transform: capitalize;
	font-weight: 300;
	font-size: 14px;
	color:#626262;
}
.fm-right{
	width: 50%;
	float: right;
}
.fm-right ul{
	float: right;
}
.fm-right ul li{
	list-style: none;
	float: left;

}
.fm-right ul li a{
	padding: 0 10px;
	text-decoration: none;
	font-family: PlayfairDisplay-Regular;
	text-transform: capitalize;
	font-size: 14px;
	color:#626262;
}
.fm-right ul li a:last-child a{
	padding-right: 0px;
}
/********Footer Menu Start*****/
